services:
	- App\Router\RouterFactory::createRouter

	- App\ApiV1Module\Model\AuthModel(%auth%)
	- App\ApiV1Module\Model\ProductModel(@Nette\Database\Explorer, %product%)


search:
	-	in: %appDir%
		classes:
			- *Factory
			- *Facade
